<!DOCTYPE html>
<html xmlns:th= "http:www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title> Booklist </title>
<meta htto-equiv="Content-Type" contect="text/html" charset= "UTF-8">
</head>
<body> 
<h4 th:inline="text">Welcome to your booklist [[${#httpServletRequest.remoteUser}]]!</h4>
<h3> Books </h3>
<table>
 <tbody> 
 <tr>
<th>Title</th>
<th>Author</th>
<th>Year</th>
<th>Isbn</th>
<th>Price</th>
<th sec:authorize="hasRole('ADMIN')"> </th>
		</tr>  

</tr>
 <tr th:each = "book : ${books}" >
 
   <td th:text="${book.title}"></td>
   <td th:text="${book.author}"></td>
   <td th:text="${book.year}"></td>
   <td th:text="${book.isbn}"></td>
   <td th:text="${book.price}+e"></td>
   <td th:text="${book.category.categoryname}"></td> 	
   <td sec:authorize="hasRole('ADMIN')"> <a th:href="@{/delete/{id}(id=${book.id})}"class="btn btn-xs btn-danger">Delete</a></td> 
   
   <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>  
   	
 </tr>
</tbody>

</table>
  <a href="/add">Add Book</a> 
 
  <form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
  </form>
</body>
   
</html>
